Repository bamau/nextjs-init-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check ., eslint --fix, eslint --config .eslintrc.js, prettier --write --check

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --check .", "eslint --fix", "eslint --config .eslintrc.js", "git add"],
  "**/*.{json,css,md}": ["prettier --write --check"]
}

test: test config .lintstagedrc (dev)
  .husky/pre-commit
  .lintstagedrc
Due: none

test(config): test remove git add for not usefull (dev)
  .lintstagedrc
Due: none

test: test config format code (dev)
  .husky/pre-commit
  .vscode/settings.json
  package.json
  src/app/globals.css
  tailwind.config.ts
Due: prettier --check ., eslint --fix, eslint --config .eslintrc.js, prettier --write --check

test: test update config (dev)
  .husky/pre-commit
  package.json
Due: prettier --write --check

fix: fix command error return (dev)
  .husky/prepare-commit-msg
  package.json
Due: prettier --write --check

chore: update pre-commit (dev)
  .husky/pre-commit
  .vscode/settings.json
Due: prettier --write --check

chore(config): update config eslint and prettier (dev)
  .eslintrc.js
  .husky/pre-commit
  .lintstagedrc
  .prettierrc
  lint-staged.config.js
  src/app/page.tsx
Due: prettier --check ., eslint --fix, eslint --config .eslintrc.js

chore(config): update add more package to config eslint optimize import (dev)
  .eslintrc.js
  .prettierrc
  .vscode/settings.json
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  yarn.lock
Due: prettier --check ., eslint --fix, eslint --config .eslintrc.js, prettier --write --check

test: test commitlint (dev)
  src/app/page.tsx
  src/components/test/test-component.tsx
Due: prettier --check ., eslint --fix, eslint --config .eslintrc.js
